<article class="product-item">
    <% if (product.images && product.images.length > 0) { %>
      <img src="<%= product.images[0] %>" alt="<%= product.title %> Image" />
    <% } else { %>
      <p>no image available</p>
    <% } %>
    <div class="product-item-content">
      <h2><%= product.name%></h2>
      <p class="product-price" data-price="<%= product.parsePrice() %>">$<%= product.price %></p>
      <div class="product-item-actions">      
        <a class="btn btn-alt" href="/products/<%= product.id %>">View Details</a>
        <button class="btn" data-productid="<%= product.id %>">Add to cart</button> 
      </div>
    </div>
  </article>