<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=product.title%></title>
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/products.css" />
  </head>
  <body>
    <% console.log(product); %>
    <%-include('./componants/header')%>
    <main id="product-details">
        <% if (product.images && product.images.length > 0) { %>
          <img src="<%= product.images[0] %>" alt="<%= product.name %> Image" />
        <% } else { %>
          <p>no image available</p>
        <% } %>
        <div id="product-info">
          <h1><%= product.name %></h1>
          <p>$<%= product.price %></p>
          <button class="btn btn-alt" id="add-to-cart-btn" data-productid="<%= product.id %>">Add to cart</button>
        </div>
      <p id="product-description"><%= product.description %></p>
      <a href="/">Back to shop</a>
    </main>
    <script src="/scripts/cart-management.js"></script>
  </body>
</html>
